[submodule "3rdparty/json"]
	path = 3rdparty/json
	url = https://github.com/nlohmann/json.git
[submodule "3rdparty/cmdline"]
	path = 3rdparty/cmdline
	url = https://github.com/zmoth/cmdline.git
[submodule "3rdparty/spdlog"]
	path = 3rdparty/spdlog
	url = https://github.com/gabime/spdlog.git
